.App {
  text-align: center;
}

.background-pic {
  background: url('../public/Journal-Picture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.navbar {
  /* Glass effect from https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}